*
!.gitignore
!.config
!.config/nvim**
!.config/qtile**
.config/qtile/__pycache__
.config/nvim/plugin
!.config/nushell**
.config/nushell/history.txt
!.config/tilix**
!.config/fish**
!.config/kitty**
!.config/rofi**
!.config/nemo**
!.config/hypr**
!.config/xremap**
!.config/spotifyd**
!.config/wofi**
!.config/rofi**
!.config/waybar**
!.config/mprocs**
!.config/neofetch**
!.config/eww**
!.config/lazygit**
!.config/networkmanager-dmenu**
!.config/k9s**
.config/k9s/config.yml
.config/lazygit/state.yml
