*
!.gitignore
!.config
!.config/nvim**
!.config/qtile**
.config/qtile/__pycache__
.config/nvim/plugin
!.config/tilix**
!.config/fish**
!.config/rofi**
!.config/nemo**
!.config/hypr**
!.config/spotifyd**
!.config/wofi**
!.config/rofi**
!.config/waybar**
!.config/neofetch**
!.config/eww**
!.config/lazygit**
!.config/networkmanager-dmenu**
.config/lazygit/state.yml
